<%- include("partials/header.ejs") %>

<form action="/new-post" method="POST">
  <div class="form-container">
      <h1>Create New Post</h1>
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" placeholder="Enter your post title" required />
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" id="content" placeholder="Write your thoughts here..." required></textarea>
      </div>
      <button type="submit" class="btn-submit">Publish Post</button>
  </div>
</form>

<%- include("partials/footer.ejs") %>
