<%- include("partials/header.ejs") %>
<h1>Create New Post</h1>

<form action="/new-post" method="POST">
    <input id="title" type="text" name="title"  required>
    <label for="title">Title</label>
    <textarea name="content" id="content" required></textarea>
    <label for="content">Content</label>
    <button type="submit">Submit</button>
</form>
<%- include("partials/footer.ejs") %>